/* --------------- Global Rules --------------- */

/* colors {
  orange: #fd9e02;
  mid-tone: #F1EACF;
  green: #87a330;
} */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gamja Flower', cursive;
  text-align: center;
}

html,
body {
  height: 100%;
}



body {
  display: flex;
}

.player-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 30%;
}

.token-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
  border-radius: 20px;
  height: 200px;
  width: 450px;
  background-color: #F1EACF;
}

.choice-container {
  display: flex;
  justify-content: space-evenly;

}

button {
  background-color:#7bbb99;
  align-self: center;
  /* color:#F1EACF; */
  border: 0;
  border-radius: 50px;
  font-size: large;
  height: 30px;
  width: 110px;
}

.board-circle,
.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #F1EACF;
}

.board-circle {
  margin-top: 0px;
  margin-bottom: 160px;
  height: 400px;
  width: 400px;
  background-color: #7bbb99;
}

.message {
  font-size: xx-large;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(assets/Fruits-Background.webp);
  background-size: 100%;
  background-position-y: bottom;
  overflow: hidden;
  height: 100%;
  width: 40%;
}

#cell-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 32% 32% 32%;
  column-gap: 2%;
  row-gap: 2%;
  background-color: rgb(0,125,117);
  height: 275px;
  width: 275px;
  align-self: center;
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7bbb99;
}

h3,
.token-choice,
.token {
  font-size: xxx-large;
}

.open {
  cursor: pointer;
}

.start {
  background-color: #7bbb99;
}

.peach {
  background-color: #ffb6af;
}

.strawberry {
  background-color: #eb685a ;
}

.orange {
  background-color: #FF9A4E ;
}

.lemon {
  background-color: #F6DA55;
}

.kiwi {
  background-color: #9dbc5f ;
}

.blueberry {
  background-color: #6671ac ;
}

.selectable {
  background-color:rgb(0,125,117);
  color: #F1EACF;
}

.hidden {
  display: none;
}