/* --------------- Global Rules --------------- */

/* colors {
  orange: #FF9F1C
  pale-orange: #FFBF69
  between: #E5ECDA
  pale-mint: #CBF3F0
  mint: #2EC4B6
} */



*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
}

.player-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

#player-1 {
  background-color: #FF9F1C;
  width: 25%;
}

#player-2 {
  background-color: #2EC4B6;
  width: 25%;
}

.main {
  background-color: #E5ECDA;
  height: 100%;
  width: 50%;
}